<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div>
    <form action = "/result" method = "POST">
      <h3>Select Filters</h3>
      <label for="name">Name</label>
      <input name="name" id="name" type="text">
      <label for="companyname">Company Name</label>
      <input name="companyname" id="companyname" type="text">
      <label for="source">source</label>
      <input name="source" id="source" type="text">
      <p><input type = "submit" value = "submit" /></p>
    </form>
  </div>
</body>
</html>